{% extends "layouts/base.html" %}

{% block content %}

<body class="flex flex-col min-h-screen">
	<main class="main-content flex-grow">
		<div class="max-w-4xl mx-auto my-10 p-6 bg-white shadow-lg rounded-lg border border-gray-300">
			<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
				{% if noticia.foto %}
				<div class="flex justify-center">
					<img src="{{ noticia.foto.url }}" alt="{{ noticia.titulo }}"
						class="w-full max-h-80 md:max-h-96 object-cover rounded-lg shadow-md" />
				</div>
				{% endif %}

				<div>
					<h1 class="text-xl mb-4 text-gray-800">{{ noticia.titulo }}</h1>

					<p class="text-gray-600 text-xs mb-2">
						<strong>Fecha de publicación:</strong> {{ noticia.fecha }}
					</p>

					<p class="text-sm leading-relaxed text-gray-700">{{ noticia.detalle }}</p>

					<a href="{% url 'noticias' %}"
						class="inline-block mt-6 bg-white-600 text-gray-600 border border-gray-300 text-sm px-3 py-2 rounded-lg hover:bg-gray-100 transition-colors duration-200">
						Volver a Noticias
					</a>
				</div>
			</div>
		</div>

	</main>
</body>
{% endblock %}
