{% extends "layouts/base.html" %}

{% block content %}

<body class="flex flex-col min-h-screen">
	<main class="flex-grow">
		<section class="flex justify-center flex-wrap my-4">

			{% for articulo in noticias %}
				{% if articulo.publicada %}
			<div
				class="border border-gray-300 w-72 rounded-xl shadow-lg m-4 transition-transform transform hover:scale-105 bg-white">
				<a href="{% url 'detalle_noticia' articulo.id %}" class="block h-40">
					{% if articulo.foto %}
					<img class="rounded-t-xl h-full w-full object-cover"
						src="{{ articulo.foto.url }}" alt="{{ articulo.titulo }}">
					{% else %}
					<div class="h-full flex items-center justify-center bg-gray-200 rounded-t-xl">
						<span class="text-gray-500">Sin imagen</span>
					</div>
					{% endif %}
				</a>

				<div class="p-4 flex flex-col justify-between h-40">
					<a href="{% url 'detalle_noticia' articulo.id %}">
						<h2
							class="text-xl font-semibold text-gray-800 hover:text-blue-600 transition duration-300">
							{{ articulo.titulo }}
						</h2>
					</a>

					<p class="text-gray-600 text-sm line-clamp-2">
						{{ articulo.resumen }}
					</p>

					<div class="flex justify-between items-center mt-4">
						<p class="text-gray-500 text-xs">
							{{ articulo.fecha|date:"d M Y" }}
						</p>

						<a href="{% url 'detalle_noticia' articulo.id %}"
							class="bg-white-600 text-gray-600 border border-gray-300 text-sm px-3 py-1 rounded-lg hover:bg-gray-100 transition-colors duration-200">
							Ver más
						</a>
					</div>
				</div>
			</div>
			{% endif %}
			{% empty %}
			<p class="text-gray-500">No hay artículos disponibles.</p>
			{% endfor %}
		</section>
	</main>

	{% endblock %}
